* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
}

button {
  cursor: pointer;
  background-color: #1a1a1a;
  color: white;
  border: 1px solid #1a1a1a;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 1rem;
}

.App--navbar {
  background-color: #1a1a1a;
  font-size: 1.5rem;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  padding: 15px 40px;
  margin-bottom: 20px;
}

.App--navbar ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  list-style: none;
}

.App--links {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  align-items: center;
}

.App--navbar a {
  color: white;
  text-decoration: none;
}

.home {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin: 20px;
  justify-content: center;
  align-items: center;
}

.home--image {
  max-width: 400px;
  width: 100%;
  border-radius: 20px;
}

.home--text {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.home--button {
  padding: 10px 20px;
  font-size: 1.2rem;
}

.shop--items-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.shop--item {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  border: 1px solid black;
}

.shop--item img {
  height: 150px;
}

.item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.item--info {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 500px;
  padding: 20px;
}

.item--info p {
  font-size: 1.5em;
}

.item--info button {
  padding: 10px 20px;
}

.item--image {
  max-height: 300px;
  max-width: 350px;
}

.cart {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.cart--item {
  display: flex;
  align-items: center;
  max-width: 450px;
  border-bottom: 1px solid rgb(204, 204, 204);
  padding: 10px 0;
  margin: 0 30px;
}

.cart--image {
  max-height: 80px;
  max-width: 80px;
}

.cart--name {
  font-size: 1.2em;
}

.cart--info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.cart--quantity {
  display: flex;
  align-items: center;
  gap: 10px;
}

.cart--delete {
  background-color: rgb(204, 0, 0);
}

.cart--checkout {
  background-color: rgb(0, 204, 0);
}

.cart--empty {
  font-size: 1.5em;
}
