* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
}

button {
  cursor: pointer;
  background-color: #1a1a1a;
  color: white;
  border: 1px solid #1a1a1a;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 1rem;
}

.App--navbar {
  background-color: #1a1a1a;
  font-size: 1.5rem;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  padding: 15px 40px;
  margin-bottom: 10px;
}

.App--navbar ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  list-style: none;
}

.App--links {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  align-items: center;
}

.App--navbar a {
  color: white;
  text-decoration: none;
}

.shop--items-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.shop--item {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  border: 1px solid black;
}

.shop--item img {
  height: 150px;
}

.item--image {
  max-height: 300px;
}